body {
    font-family: Arial, sans-serif;
    background-color: #afff46;
    margin: 20px;
}

h1 {
    color: #5500ff;
    text-align: center;
}

p:first-of-type {
    color: white;
    font-size: 30px;
}


p {
    color: #827eff;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}


a:hover {
    color: brown;
    font-size: 30px
}

[data-info] {
    border-style: solid;
    color: brown;
}